.item {
  min-width: 320px;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: violet;
}

.item:not(:last-child) {
  margin-bottom: 5px;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-right: 25px;
}

.avatar {
  width: 55px;
  height: 55px;
  margin-right: 25px;
}

.name {
  font-weight: bold;
}
